[client]
port = {{ mysql_port }}
socket = {{ mysql_socket }}

[mysqld]
bind-address = {{ mysql_bind_address }}
socket = {{ mysql_socket }}
port = {{ mysql_port }}
extra_port = {{ mysql_extra_port }}
max_connect_errors = {{ mysql_max_connect_errors }}
max_connections = {{ mysql_max_connections }}
extra_max_connections = {{ mysql_extra_max_connections }}
max_allowed_packet = {{ mysql_max_allowed_packet }}



datadir = {{ mysql_data_dir }}
pid-file = {{ mysql_pid_file }}

table_open_cache = {{ mysql_table_open_cache }}
table_definition_cache = {{ mysql_table_definition_cache }}
open_files_limit = {{ mysql_open_file_limit }}
thread_cache_size = {{ mysql_thread_cache_size }}

sql_mode = {{ mysql_sql_mode }}
lower_case_table_names = {{ mysql_lower_case_table_names }}

performance_schema = {{ mysql_performance_schema }}


key_buffer_size = {{ mysql_key_buffer_size }}
myisam_sort_buffer_size = {{ mysql_myisam_sort_buffer_size }}
{% if mysql_tmp_table_size|int > 80 %}
tmp_table_size = {{ mysql_tmp_table_size }}M
max_heap_table_size = {{ mysql_tmp_table_size }}M
{% else %}
tmp_table_size = 80M
max_heap_table_size = 80M
{% endif %}

query_cache_size  =  {{ mysql_query_cache_size }}
query_cache_limit = {{ mysql_query_cache_limit }}



lock_wait_timeout = {{ mysql_lock_wait_timeout }}
wait_timeout = {{ mysql_wait_timeout }}


sort_buffer_size = {{ mysql_sort_buffer_size }}
read_buffer_size = {{ mysql_read_buffer_size }}
read_rnd_buffer_size = {{ mysql_rnd_buffer_size }}
max_sort_length = {{ mysql_max_sort_length }}



myisam_recover_options = {{ mysql_myisam_recover_options }}



innodb_buffer_pool_size = {{ mysql_innodb_buffer_pool_size }}
innodb_buffer_pool_instances = {{ mysql_innodb_buffer_pool_instances }}
innodb_large_prefix = {{ mysql_innodb_large_prefix }}
innodb_file_format = {{ mysql_innodb_file_format }}
innodb_file_per_table = {{ mysql_innodb_file_per_table }}
{% if mysql_innodb_log_file_size|int < 2000  %}
innodb_log_file_size = {{ mysql_innodb_log_file_size }}M
{% else %}
innodb_log_file_size = 2000M
{% endif %}
innodb_log_buffer_size  =  {{ mysql_innodb_log_buffer_size }}
innodb_flush_log_at_trx_commit = {{ mysql_innodb_flush_log_at_trx_commit }}
innodb_lock_wait_timeout = {{ mysql_innodb_lock_wait_timeout }}
innodb_concurrency_tickets = {{ mysql_innodb_concurrency_tickets }}
innodb_io_capacity = {{ mysql_innodb_io_capacity }}
innodb_flush_neighbors = {{ mysql_innodb_flush_neighbors }}
innodb_flush_method = {{ mysql_innodb_flush_method }}
innodb_ft_min_token_size = {{ mysql_innodb_ft_min_token_size }}
innodb_stats_on_metadata = {{ mysql_innodb_stats_on_metadata }}


log-error = {{ mysql_log_error }}



[mysqldump]
quick
max_allowed_packet = {{ mysql_max_allowed_packet }}



[mysqld_safe]
bind-address = {{ mysql_bind_address }}
socket = {{ mysql_socket }}
port = {{ mysql_port }}
max_allowed_packet = {{ mysql_max_allowed_packet }}



